<h1>tutorial from <%=channel_name %></h1>
<% /*symbol denotes that the result of the JavaScript expression should be outputted into the template. channel_name is the variable or data that will be inserted into the template. */ %>
